{{> header}}
<div class="my-listings">
    <h1>My car listings</h1>
    <div class="car-listings">
        {{#each listings}}
            {{> myListing}}
        {{else}}
            <p class="no-cars">You haven't listed any cars.</p>
        {{/each}}
    </div>
</div>
{{> footer}}